.card-area {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 325px;
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    margin: 4px;
    background-color: #34425A;
    border: 4px solid cadetblue;
}
.picture {
    width: 317px;
    height: 300px;
}
.picture-section {
    height: 300px;
    position: relative;
}
.elixircost {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
    margin: 10px;
}
.info {
    padding: 8px;
    color: #2D3748;
}
.listing {
    align-items: baseline;
    margin-bottom: 4px;
}
.cardname {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.description {
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    min-height:125px;
}
.upgradecost {
    font-size: 12px;
    text-align: left;
    position: absolute;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}